{% load sponsors %}

<h3>The conference wouldn't happen without the generous support of our sponsors:</h3>

<table>
  {% for row in sponsor_rows %}
  <tr>
    {% for sponsor in row %}
    <td id="sponsor__{{ sponsor.key }}" colspan="{{ row|colspan }}" class="sponsor sponsor__{{ sponsor.tier }} sponsor__colspan_{{ row|colspan }}">
      {% if sponsor.content %}<a href="/sponsors/{{ sponsor.key }}/">{% endif %}
        {% if sponsor.logo_filename %}
          <img alt="{{ sponsor.name }}" src="/static/img/sponsor-logos/{{ sponsor.logo_filename }}">
        {% else %}
          <h2>{{ sponsor.name }}</h2>
        {% endif %}
      {% if sponsor.content %}</a>{% endif %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
