{% extends "base.html" %}

{% load markdown_deux_tags %}

{% block content %}
<div class="header red">
  <div class="callout">
    <h1>{{ title }}</h1>
  </div>
</div>

<article class="main-article">
  <div class="content">
    <div class="column_content">
      <div class="textblock">
        {% for item in news_items %}
        <div class="news-article">
          <div class="column_content">
            <h2>{{ item.title }}</h2>

            <a href="/news/{{ item.date.year }}/{{ item.date.month|stringformat:"02d" }}/{{ item.date.day|stringformat:"02d" }}/{{ item.slug }}/">{{ item.date }}</a>
            <div class="textblock">
              {% if item.content_format == 'md' %}
              {{ item.content|markdown }}
              {% else %}
              {{ item.content|safe }}
              {% endif %}
            </div>

            <hr />
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</article>
{% endblock %}
